
$lightpearl: #EEEBE9;
$cs-lightblue: #168dec;
$cs-darkblue: #0b2a44;
$dark-blue: lighten($cs-darkblue, 7%);
$dark-pearl: darken($lightpearl, 7%);
$secondary: #ea444e;
$menu-offset: 204px;

$padding-default: 2rem;
$padding-small: $padding-default / 2;
$circle-width: 45vw;
$circle-left: 10vw;
$font-sans: "Muli", "Helvetica Neue", Helvetica, sans-serif;
$font-serif: 'Rozha One', Georgia, serif;
