
@import "../variables";
@import "../config";

$item-bgc: $lightpearl;
$item-highlight-bgc: $dark-pearl;
$item-border: $dark-pearl;
$item-text: $dark-blue;

.sc-player { 
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  @include minwidth(s) {
    right: calc(var(--menu-width) * 1px);
  }
  right: 0;
  background-color: $item-bgc;
  color: $item-text;
  border-top: 5px solid $lightpearl;
  font-size: 80%;
  .sc-player__items {
    align-self: stretch;
  }
  .sc-player__item {
    padding: 0.25rem 1rem;
    transition: all 400ms ease;
    justify-content: space-between;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-size: 0.95em;
    font-weight: bold;
    border-bottom: 1px solid $item-border;
    .sc-player__text {
      max-width: 50%;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
    &:hover, &.highlighted {
      background-color: $item-highlight-bgc;
    }
    &.hero {
      background-color: #ffffff;
      @media screen and (max-width: 600px) {
        > div {
          flex-wrap: wrap;
          > div, .sc-player__text, .sc-player__waveform {
            width: 100%;
            .sc-player__button {
              &.close {
                margin-left: auto;
                order: 1;
              }
            }
          }
          .sc-player__waveform {
            flex: none;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          }
          .sc-player__text {
            font-size: 0.85em;
            margin-right: 2rem;
            flex: 3;
            max-width: 100%;
            img {
              max-width: 25px;
            }
          }
          .sc-player__controls {
            flex: 0;
          }
        }
      }
    }

  }
  .sc-player__controls {
    margin-right: 0.5rem;
  }
 
  .sc-player__thumb {
    width: 100%;
    height: auto;
    vertical-align: middle;
    max-width: 50px;
    margin: 0.5rem;
  }
  .sc-player__waveform {
    user-select: none;
    cursor: pointer;
    position: relative;
    flex: 1;
    display: flex;
    margin-left: 1rem;
    margin-right: 2.5rem;
    img {
      height: 40px;
      background: #676462;
      mix-blend-mode: hard-light;
    }
    .sc-player__seek {
      transition: all 100ms ease;
      position: absolute;
      left: 0;
      height: 40px;
      background: #113d63;
      top: 0;
      opacity: 0.5;

    }
    .sc-player__prospective-seek {
      transition: all 0ms;
      opacity: 0.5;
    }
  }
}
  .sc-player__open-container {
          right: 1.3rem;

    @include minwidth(s) {
      right: 0rem;
    }
  }
 .sc-player__button {
  //  &:focus, &:active {
  //    border: 2 px solid blue;
  //  }
    background: none;
    margin: 0;
    cursor: pointer;
    transition: all 250ms ease;
    display: inline-flex;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.25rem;
    outline: none;
    border: none;
    &:disabled {
      color: $cs-darkblue;
    }

  }
  .sc-player__icon {
    fill: $cs-darkblue;
    &:hover {
      fill: $cs-lightblue;
    }
    &.play {
      fill: $cs-lightblue;
    }
    &.pause {
      fill: $cs-darkblue;
    }

    &.toggle {
      background-color: $cs-darkblue;
      border-radius: 50%;
      padding: 0.25rem;
      fill: $dark-pearl;
      &.closed {
        border-radius: 0%;
        padding: 0;
        fill: $cs-darkblue;
        background-color: transparent;
        @include maxwidth(xs){
          background-color:$cs-darkblue;
        }
      }
    }
  }
  .page.music {
      .pulse {
        svg {
        animation: pulse-pearl 600ms ease-in 250ms infinite alternate-reverse;
        }
      }
    .sc-player__icon {
      &.closed {
        fill: $lightpearl;
      }
    }
  }
  .pulse {
    svg {
    animation: pulse-dark-blue 600ms ease-in 250ms infinite alternate-reverse;
    }
  }
  @keyframes pulse-pearl {
    from {
      fill: $dark-pearl;
    }
    to {
      fill: white
    }
  }
  @keyframes pulse-dark-blue {
    from {
      fill: $cs-darkblue;
    }
    to {
      fill: lighten($cs-darkblue, 25%);
    }
  }

